# Fichiers bytecode #
*.class

# Dossier des .class (eclipse) #
bin/

# Package Files - à voir #
*.jar
*.war
*.ear

# Fichiers d'ide #
*.sublime-project
*.sublime-workspace
*.classpath
*.project
/Supervision/nbproject/private/